.name-company-link {
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
        
}

.name-company {
    color: #2E2F42;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
}

.nav-links .link:active,
.nav-links .link:hover,
.nav-links .link:focus
{
    color: #404BBF;
 
}

.nav-links .link-one {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links .link-one::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 48px;
        height: 4px;
        flex-shrink: 0;
}

.nav-links .link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header {
    background-color: #FFF;
    border-bottom: 1px solid #E7E9FC;
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);


}

.page-header .container {
    display: flex;
    justify-content: space-between;
    
}

.page-header .name-company-link {
    margin-right: 76px;
}


.navigation {
    display: flex;
    align-items: center;
}


.nav-links {
    display: flex;
    gap: 40px;
    
}

.nav-address {
    display: flex;
    gap: 40px;
}

.page-header .navigation {
    display: flex;
    gap: 40px;
    padding-left: 156px;
}

.name-company-link {
    display: flex;
    gap: 0;
}

img {
    display: block;
}

.button-order {

background-color: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
font-family: Roboto, sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 8px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin: 48px auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-order:hover,
.button-order:focus
{
background-color: #404BBF;
}

.nav-address .nav-address-mail:hover,
.nav-address .nav-address-mail:focus,
.nav-address .nav-address-mail:active {
    color: #404BBF;
    
}

.nav-address .nav-address-mail {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-advantages {
display: flex;
flex-wrap: nowrap;
gap: 24px;
}

.section-one {

    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom,  rgba(46, 47, 66, 0.70) , rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;

}

.section-one-title {

    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
   margin: 0 auto;
}

.advantages-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item-advantages {
    width: calc((100% - 72px) / 4);
}

.advatages {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advatages-text {

font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.section-two-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 72px;
}

.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-member {
    padding: 32px 0 32px;
}

.team {
    display: flex;
    gap: 24px;
    
}

.team-list {

    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}

.team-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin: 8px;

}

.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-three-title {

    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.product-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.product-name {

font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.our-products {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.product {

font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.picture-products {
position: relative;
overflow: hidden;
}

.picture-products:hover .text-product {
transform: translateY(0%);
}

.text-product {
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.down-page-text {

    color:#F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.down-page {

    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;

}

.name-company-down {
color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.name-company-link-down {
display: inline-block;
 margin-bottom: 16px;
color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.container-footer {
    display: flex;
    align-items: baseline;
   
}

.logo-text-footer {
margin-right: 120px;
}

.title-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.icons-footer {
    display: flex;
    gap: 16px;
}

.icons-soc-footer {
    width: 40px;
    height: 40px;
}

.soc-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link-footer:hover,
.soc-link-footer:focus {
background-color: #31d0aa;
}

.icon-soc-footer {
    fill: #f4f4fd;
}

.main-text {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;

}



.icon-advantages {
   
width: 264px;
height: 112px;
border-radius: 4px;
 border: 1px solid var(--LIGHT-SLATE, #8E8F99);
background-color: var(--CLOUD, #F4F4FD);
padding: 24px 100px 24px 100px;
 margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
}

.icons-soc .soc-link {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-soc {
    display: flex;
    justify-content: center;
    fill: #F4F4FD;
    
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.soc-link {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

}

.icons-soc .soc-link:hover,
.icons-soc .soc-link:focus {
background-color:#404bbf;
}




